.header {
  font-family: "Creepster", cursive;
  color: green;
  font-size: 74px;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 74px; /* Add this to push the content below the header */
}

.reader {
  color: white;
  font-size: 36px;
  text-align: center;
}

.input-box {
  border: 2px slid whtie;
  background-color: transparent;
  color: white;
  font-size: 36px;
  caret-color: green;
  text-shadow: 0px 0px 0px white;
  -webkit-text-fill-color: transparent;
  animation: blink-caret 0s step-end infinite;
  width: 60%;
  font-size: 16px;
  overflow-y: hidden;
  resize: none;
  height: auto;
  min-height: 50px; /* minimum height of the input box */
}

.input-box:focus {
  outline: none;
}

.input-box:not(:focus) {
  height: 20px; /* default height of the input box */
}

/* Define the blinking cursor animation */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: green;
  }
}
